<h2><%= @language.name %></h2>

<p>
  <%= link_to 'Edit', edit_user_language_path %>
  <%= link_to 'Delete', user_language_path(@language), method: :delete %>
  <%= link_to 'Back', user_languages_path %>
<p>

<% @flashcards.each do |flashcard| %>
  <p>
    <strong><%= flashcard.front %></strong> <=> <%= flashcard.back %>
    <%= link_to 'Show', user_language_flashcard_path(@language, flashcard) %>
  </p>
<% end %>

<%= link_to 'New flashcard', new_user_language_flashcard_path(@language) %>
