<h2>Flashcard</h2>
<p>
  <strong>Front:</strong>
  <%= @flashcard.front %>
</p>

<p>
  <strong>Back:</strong>
  <%= @flashcard.back %>
</p>

<%= link_to 'Edit', edit_user_language_flashcard_path %>
<%= link_to 'Delete', user_language_flashcard_path(@language, @flashcard), method: :delete %>
<%= link_to 'Back', user_languages_path %>
